@import "mixins/_mixin";

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @include fontSize(16px);
  color: #333333;
  margin: 0;
  @include flexbox();
  @include flex-direction(column);

  &.overflow {
    overflow: hidden;
  }
}

.all {
  @include flexbox();
  @include flex-direction(column);
  height: 100vh;
}

.header {
  @include flex-shrink(0);
}

.footer {
  @include flex-shrink(0);
}

.content {
  @include flex(1 0 auto);
}

.layout-grid {
  @include flexbox();
  @include justify-content(center);

  &__container {
    max-width: calculateRem(900px);
    @include flex(0 0 100%);
    border: 1px solid #49bcab;
    border-radius: 4px;
    padding: 15px;
    margin: 20px auto;
  }
}

.cards {
  @include flexbox();
  @include flex-direction(row);
}

.desk {
  height: 70px;
  width: 50px;
  border: 1px solid #ff3800;
}

.cards__item {
  height: 70px;
  width: 50px;
  border: 1px solid #49bcab;
  margin-right: 5px;
}

.panel {
  @include flexbox();
}

.panel_dealer {
  @include flex-direction(row);
  justify-content:space-between;
  padding: 0 0 15px;
  border-bottom: 1px solid #49bcab;
}

.panel_table {
  @include flex-direction(column);
  justify-content: space-around;
  align-items: stretch;
  padding: 0 0 15px;
  border-bottom: 1px solid #49bcab;
}

.bet {
  @include flexbox();
  @include flex-direction(row);
  padding: 20px 0;

  .label {
    width: 50px;
  }
}

.player {
  @include flexbox();
  @include flex-direction(column);
  padding: 20px 0;
}

.player__item {
  margin: 0 0 10px;
}


