<div class="all">
  <header class="header"></header>
  <main class="content">
    <div class="layout-grid">
      <div class="layout-grid__container">
        <div class="panel panel_dealer">
          <p class="panel__title">Dealer</p>
          <div class="cards" *ngIf="dealer">
            <div class="cards__item" *ngFor="let dealerCard of dealer.cards">{{dealerCard.name}}</div>
          </div>
          <div class="desk"></div>
        </div>
        <div class="panel panel_table">
          <div class="table">
            <div class="table__item">
              <p>Select a bet:</p>
              <select [(ngModel)]="selectedBet">
                <option *ngFor="let bet of bets" [ngValue]="bet">{{bet.name}}</option>
              </select>
              <input type="number" [(ngModel)]="betAmount" class="input_number" min="1" max="1000"
                     [disabled]="player.name === '' || player.balance === ''">

              <div class="cards" *ngIf="gameSession">
                <div class="cards__item" *ngFor="let playerCard of gameSession.player.cards">{{playerCard.name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel_players">
          <div class="player">
            <input type="text" [(ngModel)]="player.name"
                   placeholder="Enter your name" class="player__item player__item_name">
            <input type="number" [(ngModel)]="player.balance.amount"
                   placeholder="Enter your balance" class="player__item player__item_balance">
            <span>{{winnerBetText}}</span>
            <button (click)="onStartClick()"
                    [disabled]="player.name === '' || player.balance.amount === 0 || betAmount === 0">start</button>
            <button (click)="onCreateNewGame()" *ngIf="false"
                    [disabled]="player.name === '' || player.balance.amount === 0 || betAmount === 0">new game</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>
