<div class="all">
  <header class="header"></header>
  <main class="content">
    <div class="layout-grid">
      <div class="layout-grid__container">
        <div class="panel panel_dealer">
          <p>{{dealer.balance.amount}}</p>
          <div class="cards" *ngIf="dealer">
            <div class="cards__item" *ngFor="let dealerCard of dealer.cards">
              {{dealerCard.name}}{{dealerCard.suit}}
            </div>
          </div>
        </div>
        <div class="panel panel_table">
          <div class="table">
            <div class="table__item">
              <p>Select a bet:</p>

              <select [(ngModel)]="currentBet.type" class="panel__select">
                <option *ngFor="let bet of betTypes" [ngValue]="bet.value">
                  {{bet.name}}
                </option>
              </select>
              <input type="number" [(ngModel)]="currentBet.value" class="panel__input" min="1" max="1000">

              <div class="cards" *ngIf="game">
                <div class="cards__item" *ngFor="let playerCard of player.cards">
                  {{playerCard.name}}{{playerCard.suit}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel_players">
          <div class="player">
            <input type="text"
                   placeholder="Enter your name" class="player__item player__item_name">
            <input type="number"
                   placeholder="Enter your balance" class="player__item player__item_balance">

            <button type="button" (click)="onReady()"  class="panel__button">Ready</button>
            <button type="button" (click)="onBet()" class="panel__button">Do Bet</button>
            <button type="button" (click)="onShuffle()"  class="panel__button">Shuffle</button>
            <button type="button" (click)="onDealt1()" class="panel__button">Dealt1</button>
            <button type="button" (click)="onDealt2()" class="panel__button">Dealt2</button>
            <button type="button" (click)="onDealtDealer()" class="panel__button">DealtDealer</button>

          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>
