<div class="all">
  <header class="header"></header>
  <main class="content">
    <div class="layout-grid">
      <div class="layout-grid__container">
        <div class="panel panel_dealer">
          <p class="panel__title">Dealer</p>
          <div class="cards" *ngIf="dealer">
            <div class="cards__item" *ngFor="let dealerCard of dealer.cards">{{dealerCard}}</div>
          </div>
          <div class="desk"></div>
        </div>
        <div class="panel panel_table">
          <!--repeat tables-->
          <div class="table">
            <div class="table__item">
              <div class="bet">
                <div class="bet__item">
                  <label>Bank</label>
                  <input type="radio" [(ngModel)]="betInitial.name" value="bankBet">
                </div>
                <div class="bet__item"></div>
                <div class="bet__item"></div>
                <div class="bet__item">win</div>
                <div class="bet__item"></div>
              </div>
              <div class="cards" *ngIf="player">
                <div class="cards__item" *ngFor="let playerCard of player.cards">{{playerCard}}</div>
              </div>
            </div>
            <div class="table__item">
              <div class="bet">
                <div class="bet__item">
                  <label>Player</label>
                  <input type="radio" [(ngModel)]="betInitial.name" value="playerBet">
                </div>
                <div class="bet__item">1</div>
                <div class="bet__item"></div>
                <div class="bet__item">lost</div>
                <div class="bet__item"></div>
              </div>
              <div class="cards" *ngIf="player">
                <div class="cards__item" *ngFor="let playerCard of player.cards">{{playerCard}}</div>
              </div>
            </div>
            <div class="table__item">
              <!--repeat bets-->
              <div class="bet">
                <div class="bet__item">
                  <label>Tie</label>
                  <input type="radio" [(ngModel)]="betInitial.name" value="tieBet">
                </div>
                <div class="bet__item">1</div>
                <div class="bet__item"></div>
                <div class="bet__item"></div>
                <div class="bet__item"></div>
              </div>
              <div class="cards" *ngIf="player">
                <div class="cards__item" *ngFor="let playerCard of player.cards">{{playerCard}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel_players">
          <!--repeat players-->
          <div class="player">
            <input type="text" [(ngModel)]="playerInitial.name" placeholder="Enter your name" class="player__item player__item_name">
            <input type="text" [(ngModel)]="playerInitial.purse" placeholder="Enter your amount" class="player__item player__item_balance">
            <span *ngIf="player">{{player.getBalance()}}</span>
            <button (click)="run(betInitial.name)">start</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>
